.DS_Store
*.pyc

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*
venv/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
