{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootflat.min.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
      body {background-color:#eee; padding-top:70px; }
      .navbar-brand{font-weight: 700;color: #fff !important;}
      footer{background-color: #37bc9b; min-height: 100px; padding-top: 30px; color: #fff;}
    </style>
  </head>
  <body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Prediksi Kelapa Sawit</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if session.logged_in %}
            {% if request.endpoint.endswith('datalatih') or request.endpoint.endswith('datauji') %}
            <li class="dropdown active">
            {% else %}
            <li class="dropdown">
            {% endif %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-database"></span> Kelola Data <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('datalatih')}}"><span class="fa fa-database"></span> Data Latih</a></li>
                <li><a href="{{ url_for('datauji')}}"><span class="fa fa-database"></span> Data Uji</a></li>
              </ul>
            </li>
            {{ nav_link('pelatihan','Pelatihan','gears') }}
            {{ nav_link('pengujian','Pengujian','line-chart') }}
            {{ nav_link('prediksi','Prediksi','gears') }}
            {{ nav_link('laporan','Laporan','book') }}

            {{ nav_link('logout','Keluar','sign-out') }}
            {% else %}
            {{ nav_link('login','Masuk') }}
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
          {% endfor %}
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
    <footer class="container-fluid text-center">
      <p>Copyright &copy; 2018 PT. Mitra Unggul Pustaka</p>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>