{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
  <div class="panel">
    <div class="panel-body">
        <div style="text-align:center">
            <img src="static/images/agri.png" />
            <h3>Selamat Datang di Sistem Prediksi Produksi Kelapa Sawit</h3>
            <h4>PT. Mitra Unggul Pusaka</h4>
            <h3>Kebijakan Perusahaan ASIAN AGRI Group</h3>
        </div>
        <div class="col-sm-6">
        <ol>
          <li>Memenuhi kewajiban hukum yang berlakuan dan persyaratan lain 	yang dipandang perlu oleh menajement ASIAN AGRI untuk 	diintegrasikan kedalam pelaksanaan kegiatan usaha.</li>
          <li>Berkomitmen berprilaku etis dalam berbisnis pada seluruh transaksi 	dan operasi bisnis, pelanggaran seluruh bentuk korupsi, penyuapan 	dan penipuan dalam penggunaan dana dan sumber daya.</li>
          <li>Menerapkan dan memelihara sistem manajemen lingkungan, sosial, 	ketahanan pangan, kesehatan dan keselamatan kerja terpadu sesuai 	dengan standar sistem manajemen nasional dan internasional yang 	berlaku.</li>
          <li>Menetapkan tujuan dan sasaran yang terukur untuk mencegah 	pencemaran lingkungan, kecelakaan dan penyakit akibat kerja 	terhadap pekerja dan pihak-pihak yang berkepentingan, dan akhirnya 	menuju ke perbaikan kinerja secara berkesinambungan.</li>
          <li>Mengintegrasikan isu lingkungan, sosial, ketahanan pangan, kesehatan 	dan keselamatan kerja dalam kegiatan kita, serta mengadopsi 	teknologi terbaik yang tersedia, bila layak secara teknis dan ekonomi, 	serta memelihara tenaga kerja terlatih, memiliki keterampilan, dan 	bermotivasi untuk meningkatkan kinerja melalui program perbaikan 	berkelanjutan.</li>
          <li>Melakukan praktek tanpa bakar dalam kegiatan pembangunan 	perkebunan dan secara aktif mendukung inisiatif mencegah dan 	mengawasi kebakaran hutan dan asap.</li>
          <li>Melakukan penilaian kawasan bernilai konservasi tinggi sejalan 	dengan pelaksanaan analisis mengenai dampak lingkungan dan resiko 	sosial terpadu, sebelum kegiatan dimulai disuatu kebun baru, untuk 	mengelola dampak dan meningkatkan nilai konservasi serta sosial 	budaya dari kebun dimana kita beroperasi.</li>
          <li>Memastikan bahwa setiap perundingan menyangkut kompensasi atas 	hilangnya hak legal atau hak adat dilakukan melalui sistem 	terdokumentasi yang memungkinkan penduduk asli, komunitas lokal, 	dan pihak-pihak berkepentingan lainnya, dapat menyampaikan 	pandangannya melalui lembaga perwakilan yang mereka pilih sendiri.</li>
          <li>Tidak melakukan pembukaan lahan baru di areal yang bernilai karbon 	stok tinggi (HCS), nilai konservasi tinggi (HCV) dan diatas lahan 	gambut.</li>
          <li>Melakukan kajian dan pengelolaan air (drainbility) pada areal gambut 	(yang berpotensi banjir) untuk kebun yang telah ditanam maupun 	sebelum peremajaan (replanting) serta mengadopsi praktek terbaik di 	areal gambut.</li>
        </ol>
        </div>
        <div class="col-sm-6">
          <ol start="11">
          <li>Melakukan monitoring emisi Gas Rumah Kaca (GRK) pada kebun 	dan pabrik melalui perhitungan GRK serta mengeksplorasi usaha 	mengurangi emisinya, dengan mempertimbangkan aspek lingkungan, 	sosial dan ekonomi.</li>
          <li>Menjamin kesejahteraan karyawan dengan memberikan jaminan 	sosial bagi karyawan beserta keluarga sesuai dengan perundangan 	yang berlaku serta memfasilitasi pembentukan koperasi karyawan dan 	usaha-usaha produktif di perusahaan.</li>
          <li>Menghormati hak asasi manusia dengan memperlakukan seluruh 	karyawan secara adil, baik dalam hal penerimaan, penilaian, kondisi 	dan lingkungan kerja, serta keterwakilan tanpa memandang suku, kasta, asal negara, agama/kepercayaan, cacat, gender, orientasi 	seksual, keanggotaan serikat kerja, afiliasi politik, dan umur.</li>
          <li>Melarang anak-anak bekerja dalam setiap kegiatan perusahaan.</li>
          <li>Mencegah pelecehan seksual dan berbagai bentuk kekerasan terhadap 	perempuan serta melindungi hak-hak reproduksinya</li>
          <li>Menghormati  hak setiap karyawan untuk membentuk atau menjadi 	anggota serikat pekerja sesuai dengan keinginannya dan untuk 	melakukan tawar menawar secara kolektif.</li>
          <li>Melakukan komunikasi dan evaluasi kepada pihak ketiga terkait asal 	penerimaan TBS dari lahan yang legalitasnya dapat dibuktikan, tidak ada pembakaran untuk pembukaan areal baru maupun peremajaaan 	(replanting), tidak melakukan pembukaan areal gambut setelah 	September 2014, tidak terdapat konflik lahan dan tidak 	mempekerjakan anak-anak dalam pengelolaannya.</li>
          <li>Mengkomunikasikan kebijakan ini kepada setiap karyawan, suplier, 	kontraktor diseluruh tingkat dan fungsi organisasi, agar peduli 	terhadap perlindungan hutan, perlindungan lahan gambut, dampak lingkungan, ketahanan pangan, kesehatan dan keselamatan kerja dari 	kegiatan mereka, dan mendorong mereka bertanggung jawab untuk 	mematuhi.</li>
          <li>Mengkaji secara berkala kebijakan lingkungan, sosial, ketahanan 	pangan, kesehatan dan keselamatan kerja ini untuk memastikan bahwa 	kebijakan ini tetap sesuai dan layak untuk bisnis.</li>
          <li>Menyediakan informasi yang memadai bagi para pihak tentang isu 	lingkungan, sosial, ketahanan pangan, kesehatan dan keselamatan 	kerja, sehingga memungkinkan mereka berpartisipasi efektif dalam 	proses pengambilan keputusan untuk meningkatkan kinerja perusahaan</li>
          </ol>
        </div>
    </div>
  </div>
</div>
{% endblock %}